{% extends 'base.html.twig' %}

{% block title %}Page d'Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur mon site !</h1>
    <p>My name is  Monique Yande Sene .</p>
    <p>I am Senegalese and a first-year student in Network and Telecommunications at the IUT of Roanne,
         part of the TP AB group. Passionate about telecommunications technologies, 
         I am here to acquire the foundational skills that are essential to understanding the concepts."
    </p>
     
    <a href="monique/cv" class="btn btn-primary mt-3">Voir mon CV</a>
    <a href="monique/cv/portfolio" class="btn btn-secondary mt-3">Voir mon Portfolio</a>
{% endblock %}

